* {
  font-size: 12px;
}

a {
  text-decoration: none;
}

.sidebar {
  &-wrapper {
    top: 60px !important;
  }
  &-container {
    background: #324157;
  }
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.no-default {
  padding: 20px;
  font-size: 18px;
}

.defaultImg {
  width: calc(100% - 180px);
  height: calc(100% - 100px);
  object-fit: contain;
}

.el-input-date {
  width: 100% !important;
}

.el-pagination {
  width: 440px;
  margin: 20px auto 20px auto;
  .el-pagination__sizes {
    line-height: 1;
  }
}

.tl {
  text-align: center;
}
.tc {
  text-align: center;
}
.tr {
  text-align: center;
}
