.my-button,.el-button {
    box-shadow: 0 2px 4px 0 rgba(0, 77, 182, 0.38);
    > span {
        font-size: 15px;
    }
    &[width='max'] {
        width: 100%;
        height: 50px;
    }
    &[width='min'] {
        width: 240px;
        height: 50px;
    }
    &[width='mini'] {
        width: 140px;
        height: 40px;
    }

    &--primary {
        background-color: #4d7cfe;
        border-color: #4d7cfe;
        &:focus, &:hover {
            background: #008BFE;
            border-color: #008BFE;
            color: #fff
        }

        &:active {
            background: #008BFE;
            border-color: #008BFE;
            color: #fff
        }
    }
}
